{% extends 'siteVisit/BaseShablon.html' %}
{% load staticfiles %}


{% block content %}	

<br>
<p class="rightstr articleAdd"> 
  <a><a  href="{% url 'article_edit' pk=article.id %}"> Edit article</a>
</p> 



<div  class="articleTitle"> 
		<div class="articleDateAutor"><h1> <a>{{ article.category }}  </a></h1></div>
	 	<h1> <a>{{ article.articleTitle }}
	 		<div class="articleDateAutor">  <a>{{ article.author }},   {{ article.created_date }} 
 		</div></a> </a></h1>
</div>


<script type="text/javascript">
var all_images = [];
  {% for image in images %}
		 all_images.push('{{image.imagePath.url}}')
  {% endfor %}

var ImgNum = 0;
var ImgLength = all_images.length - 1;


function chgImg(direction) {
 if (document.images) {
  ImgNum = ImgNum + direction;
  if (ImgNum > ImgLength) { ImgNum = 0; }
  if (ImgNum < 0) { ImgNum = ImgLength; }
  document.slide_show.src = all_images[ImgNum];
 }
}

function chgImg2(imagePaths) {
 if (document.images) {
  document.slide_show.src = imagePaths ;
 }
}
</script>



<div class="div1">
   {% for image in images %}
	   <a> <a href="javascript:chgImg2('{{image.imagePath.url}}')"> <img src= {{image.imagePath.url}} width="70" height="70"></a>
	 {% endfor %}
</div>

<!--
<h1>{{ article.articleTitle }}
{% for image in images %}
	<a>{{ MEDIA_URL }}{{image.imagePath.url}} </a>
  <img src= {{image.imagePath.url}} >
{% endfor %}
</h1>
	
<div>
   {% for imagePaths in article.imagePath %}
	   <a> <a href="javascript:chgImg2('{% static  imagePaths %}')"> <img src= {% static  imagePaths %} width="70" height="70"></a>
	 {% endfor %}
</div>
-->



<div><h3></h3>
 <table border="0">
  <tr>
    <td colspan="3"><img src={% static  article.imagePathBegin %}  name="slide_show" width="700" ></td>
  </tr>
 </table>
</div>

<!--
<div><h3></h3>
 <table border="0">
  <tr>
   <td align="right"><a href="javascript:chgImg(-1)">Prev</a></td>
      <td colspan="3"><img src={% static  article.imagePathBegin %} width="400" height="400" name="slide_show"></td>
   <td align="left"><a href="javascript:chgImg(1)">Next</a></td>
  </tr>
 </table>
</div>
-->
	   
<div  class="articleText">    
 	<h4> <a> {{ article.articleText|linebreaksbr }} </a></h4>
</div>

<hr>


<p> Comment </p>

{% for comment in comments %}

	<div  class="articleCommentAutor">  		   
	 <p>{{comment.articleAuthor}}:</p>
	</div> 
	<div  class="articleCommentText">  		   
	 <p>"{{comment.articleComment}}"</p>
	</div> 

	<div>  	 
		<form action="/siteVisit/delComment/{{comment.id}}/"	method="post" >
	 	 {% csrf_token %}
		  <a><input  type = "image" class="delComment"  value="Delete comment"></a>
	  </form>
	</div> 
	
<hr>
{% endfor %}

<div  class="articleText">   
<form action="/siteVisit/addcomment/{{article.id}}/"	method="post" >
	{% csrf_token %}
	<h5> <a> Autor </a></h5>
	<h5> <a> {{ form.articleAuthor }} </a></h5>
	<h5> <a> Text </a></h5>
	<h5> <a> {{ form.articleComment }}</a></h5>
	<input type = "submit" class="button" value="Add comment">
</form>
</div>



{% endblock content %}
		   
		      
</html>
